.content {
  // background-color: #f7f7f7;
  // in place of png images
  padding: 25px;
  border-left: solid 1px var(--light-grey-color);
  border-top: solid 1px var(--light-grey-color);
  height: 100%;
}

.price {
  font-weight: bold;
}
