.header {
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.8rem 0;

    .title {
      width: 95%;
    }
  }
}

.includedServices {
  color: #3c5e48;
  font-size: 0.875rem;
}

.content {
  width: 100%;
  padding: 0 15px 0 40px;
  // padding-left: 40px;
}

// .imageCarousel,
// .priceInfo,
// .description,
// .moreInfo,
// .specification {
//   margin-left: 40px;
// }

.priceInfo {
  h4,
  h2 {
    margin: 0;
  }
}

.description {
  padding-top: 50px;
}

.moreInfo {
  display: none;
}

.specification {
  padding: 25px 40px 0 0;

  li {
    border-top: 1px solid var(--light-grey-color);
  }

  .listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .listValues {
    max-width: 50%;
    text-align: right;
  }
}

.moreInfo,
.specification {
  width: 100%;
  border-top: solid 1px var(--light-grey-color);
}

//landscape tablet
@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: solid 1px var(--light-grey-color);

    .imageCarousel,
    .description,
    .moreInfo,
    .specification {
      max-width: 64%;
      border-right: solid 1px var(--light-grey-color);
    }

    .description,
    .imageCarousel {
      padding-right: 40px;
    }

    .description {
      .code {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .moreInfo {
      // display: block;

      // DELETE
      // padding: 25px 25px 25px 0;

      display: flex;
      // flex-direction: row;
      // justify-content: space-between;
    }

    .priceInfo {
      margin: 0;
      padding: 25px 40px;
      width: 35%;
      // min-height: 100vh;
    }
  }
}

//desktop
@media screen and (min-width: 1024px) {
  .content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
