html,
body {
  padding: 0;
  margin: 0;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium,
    Avenir, Corbel, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #F9F9F9;
  
}

body {
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

:root {
  --black-color-carousel: #000;
  --grey-color-carousel: #999;
  --red-color: #db003e;
  --green-color: #3c5e48;
  --light-grey-color: #d8d8d8;
  --medium-grey-color: #6b6b6b;
  --dark-grey-color: #141414;
}

@mixin text-formatting {
  color: var(--dark-grey-color);
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25rem;
}

//titles
h1 {
  @include text-formatting();
  color: var(--medium-grey-color);
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

// potrait tablet
@media only screen and (min-width: 641px) {
  h1 {
    font-size: 1.15rem;
  }
}

//landscape tablet
@media screen and (min-width: 768px) {
}

//desktop
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 1.875rem;
    letter-spacing: 0.175rem;
    line-height: 2.375rem;
  }
}

//price - detail page
h2 {
  @include text-formatting();
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: initial;
  text-transform: none;
}

// subheading
h3 {
  @include text-formatting();
  color: var(--medium-grey-color);
  font-size: 1.375rem;
  font-weight: 200;
}

// special
h4 {
  @include text-formatting();
  color: var(--red-color);
}

//homepage price bold
h5 {
  @include text-formatting();
}

//read more text
h6 {
  @include text-formatting();
  font-size: 1.1rem;
  margin: 0;
  line-height: 0.1rem;
  color: var(--dark-grey-color)
}

// paragraph text
p {
  @include text-formatting();
  font-weight: 200;
}

ul {
  padding: 0;
}

li {
  color: var(--medium-grey-color);
  line-height: 2.6rem;
  list-style: none;
  font-size: 0.85rem;
}

@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff2")
      format("woff2"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff")
      format("woff"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.ttf")
      format("truetype"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.svg#jlicons")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot?#iefix")
      format("embedded-opentype"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff2")
      format("woff2"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff")
      format("woff"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.ttf")
      format("truetype"),
    url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.svg#jlicons")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
